<template>
    <section class="container">
        <avatar-picture pic="human"></avatar-picture>
        <div>
            <h1 class="title">
                Bob "Wombat" Hogg
            </h1>
            <h2 class="subtitle">
                Web developer extraordinaire
            </h2>
        </div>

        <h3>This page is under construction!</h3>

      </section>
</template>

<script>
import AvatarPicture from "~/components/Avatar.vue"

export default {
    components: {
        AvatarPicture,
    },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Overpass");
.container
{
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title
{
    font-family: "Overpass", sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
}
.subtitle
{
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
    
}
</style>
